/target
identity.p12
.DS_Store
default.yaml

/web/node_modules/
/web/dist/
/web/npm-debug.log*
/web/yarn-debug.log*
/web/yarn-error.log*
/web/package-lock.json
/web/tests/**/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln